<% if student = Student.find(:first, :conditions => {:id => params[:id]}) %>
  <form class="form-horizontal" >
    <div class="control-group">
      <label class="control-label" for="input02">Ad (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge disable" id="disabledInput" disabled="" value="<%= student[:first_name] %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input03">Soyad (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge disable" id="disabledInput" disabled="" value="<%= student[:last_name] %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input14">E-mail (*)</label>
      <div class="controls">
	<input type="text" class="input-xlarge disable" id="disabledInput" disabled="" value="<%= student[:email] %>">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input11">Telefon Numarası</label>
      <div class="controls">
	<input type="text" class="input-xlarge disable" id="disabledInput" disabled="" value="<%= student[:phone_number] %>">
      </div>
    </div>
    <% if student[:image] %>
      <div class="control-group">
	<label class="control-label" for="fileInput">Fotoğraf</label>
	<div class="controls">
	  <img src="/uploads/students/<%= student[:image] %>">
	</div>
      </div>
    <% end %>
    <div class="form-actions">
      <a href="/<%= request[:controller] %>/<%= student[:id] %>/edit" class="btn btn-primary">Düzenle</a>
    </div>
  </form>
<% else %>
  <center>
    Böyle Bir Kullanıcı Bulunamadı
  </center>
<% end %>

