
<% unless request[:action] == 'support' %>
  <ul class="breadcrumb">
    <li><a href="/admin/">Yönetim</a></li>
    <% unless (request[:controller] == 'admin') %>
      <span class="divider">/</span>
      <li><a href="/<%= request[:controller] %>"><%= header_title(request[:controller]) %></a></li>
    <% end %>
    <% unless (request[:controller] == 'admin' or 'index'.include?(request[:action])) %>
      <span class="divider">/</span>
      <li><a href="<%= request.env['PATH_INFO'] %>"><%= @pagetitle %></a></li>
    <% end %>
    <% if (request[:controller] == 'admin' and ['personal', 'support', 'statistic'].include?(request[:action])) %>
      <span class="divider">/</span>
      <li><a href="<%= request.env['ORIGINAL_FULLPATH'] %>"><%= @pagetitle %></a></li>
    <% end %>
  </ul>
<% end %>

<% if (request[:controller] != 'admin') and (['index', 'new', 'export', 'show', 'edit'].include?(request[:action])) %>
  <ul class="nav nav-tabs">
    <li class="<%= "active" if request[:action] == 'index' %>">
    <a href="/<%= request[:controller] %>"><i class="icon-th-list"></i> <span>Listele</span></a>
    </li>
    <li class="<%= "active" if request[:action] == 'show' %>">
    <a href="/<%= request[:controller] %>"><i class="icon-info-sign"></i> <span>Göster</span></a>
    </li>

    <% unless ['admin/institutes', 'admin/instituterequests'].include?(request[:controller]) %>
      <li class="<%= 'active' if request[:action] == 'new' %>">
      <a href="/<%= request[:controller] %>/new"><i class="icon-ok"></i> <span>Yeni Ekle</span></a>
      </li>
      <li class="<%= "active" if request[:action] == 'edit' %>">
      <a href="/<%= request[:controller] %>"><i class="icon-pencil"></i> <span>Düzenle</span></a>
      </li>
    <% end %>

    <li class="<%= "active" if request[:action] == 'export' %>" style="display:none;">
    <a href="/<%= request[:controller] %>/foo/export"><i class="icon-file"></i> <span>Dışa Aktar</span></a>
    </li>
  </ul>
<% end %>

